@charset "UTF-8";

@font-face {
  font-family: "miao";
  src: url("miao.woff2") format("woff2"),
       url("miao.woff") format("woff"),
       url("miao.ttf") format("truetype"),
       url("miao.eot") format("embedded-opentype"),
       url("miao.svg") format("svg"),
       url("miao.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}